.text{
    font-size: 72px;
    margin: auto;
    color: white;
}

.toppanel{
    margin-left: 80%;
}

.toppanel input{

    min-width: 100px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border: none;

}

.personal{

    background-color: rgb(102, 0, 255);
    border-radius: 5px;
}

.logout{

    background-color: rgb(255, 238, 2);
    border-radius: 5px;
}