.popup_auth{
    display: block;
    width: 25%;
    margin: auto;
    padding: 20px 10px;

    text-align: center;

    background-color: rgb(102, 0, 255);
    border-radius: 10px;

    /* Анимация */
    position: relative;
    transition: 1.0s all;
    opacity: 0;
}

.popup_auth input{
    display: block;

    width: 80%;
    height: 30px;
    border: none;
    border-radius: 5px;
    
    margin: 10px auto;
}

.auth_submit{
    background-color: rgb(255, 238, 2);
}

#modal_auth:checked ~ .popup_auth{
    opacity: 1;
}